/* @define-color critical #ff0000; */
/* @define-color warning #f3f809; */
/* @define-color fgcolor #ffffff; */
/* @define-color bgcolor #303030; */
/* @define-color bgcolor #222436; */
/* @define-color alert   #df3320; */

/* @define-color accent1 #ff7a93; */
/* @define-color accent2 #b9f27c; */
/* @define-color accent3 #ff9e64; */
/* @define-color accent4 #bb9af7; */
/* @define-color accent5 #7da6ff; */
/* @define-color accent6 #0db9d7; */

* {
    font-family: "CaskaydiaCove Nerd Font", Roboto, Helvetica, Arial, sans-serif;;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 0px;
    padding: 0px 200px 0px 200px; /* top right bottom left */
}

window#waybar.hidden {
    opacity: 0.1;
}

tooltip {
    background: #1e1e2e;
    /* opacity: 0; */
    border-radius: 10px;
    border-width: 10px;
    border-style: solid;
    border-color: #11111b;
}

#taskbar button,
#workspaces button {
    background-color: transparent;
    color: #ffffff;
    box-shadow: none;
    text-shadow: none;
    padding: 4px;
    border-radius: 9px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button.active,
#workspaces button.active {
    background-color: transparent;
    color: #ff7a93;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover,
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #ff9e64;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button.focused {
    background-color: #bbccdd;
    color: #b9f27c;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727d;
    border-bottom: 3px solid #ffffff;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#power,
#power-profiles-daemon,
#pulseaudio,
#pulseaudio-slider,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-backlight,
#custom-browser,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-dot_update,
#custom-file_manager,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-hint,
#custom-hypridle,
#custom-menu,
#custom-playerctl,
#custom-power_vertical,
#custom-power,
#custom-quit,
#custom-reboot,
#custom-settings,
#custom-spotify,
#custom-swaync,
#custom-tty,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
}

#custom-updater {
    color: #7287fd;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #333333;
    }
}

label:focus {
    background-color: #000000;
}

#backlight {
    color: #cdd6f4;
}

#bluetooth {
    color: #1e66f5;
}

#power,
#custom-power {
    color: #cc3436;
}

#temperature.critical {
    background-color: #ff0000;
}

#custom-hypridle,
#idle_inhibitor {
    color: #f9e2af;
    /*background-color: #2d3436;*/
}

/*-----Indicators----*/
#custom-hypridle.notactive,
#idle_inhibitor.activated {
    color: #39ff14;
}

#custom-logo {
  font-size: 8px;
  background-image: url("icons/arch.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 10px;
}

